.nav{
    grid-area: nav;
    background: #1E1E1E;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    padding: 10px;
}

.nav ul{
    list-style: none;
    padding: 0;
}

.item{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
}

.item:not(:last-child){
    border-bottom: 0.5px solid rgba(288,288,288,0.1);
}

.item a{
    width: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: normal;
    color: #E4E4E4;
    text-decoration: none;
    padding: 5px 0;
    opacity: 0.5;
}

.item a:hover{
    width: 35px;
    padding: 0;
    opacity: 1;
    cursor: pointer;
}

.item a img{
    width: 100%;
}

.item .active{
    width: 35px;
    padding: 0;
    opacity: 1;
}